:root {
    --strong-cyan: hsl(172, 67%, 45%);
    --very-dark-cyan: hsl(183, 100%, 15%);
    --dark-grayish-cyan: hsl(186, 14%, 43%);
    --grayish-cyan: hsl(184, 14%, 56%);
    --light-grayish-cyan: hsl(185, 41%, 84%);
    --very-light-grayish-cyan: hsl(189, 41%, 97%);
    --white: hsl(0, 0%, 100%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Space Mono', sans-serif;
    background-color: var(--light-grayish-cyan);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 10vh;
}

#main-container {
    background-color: var(--white);
    display: flex;
    width: 60vw;
    height: 50vh;
    padding: 2rem;
    border-radius: 20px;
    max-width: 800px;
    justify-content: space-between;
}

#calculation-container {
    width: 48%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.input-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

label {
    color: var(--dark-grayish-cyan);
    font-weight: 600;
    font-size: 0.9rem;
}

input {
    text-align: right;
    background-color: var(--very-light-grayish-cyan);
    border-width: 0px;
    height: 3rem;
    border-radius: 5px;
    padding-right: 1rem;
    font-size: 1.4rem;
    font-weight: 700;
    outline-color: var(--strong-cyan);
}

#tip-group p {
    color: var(--dark-grayish-cyan);
    font-weight: 600;
    font-size: 0.9rem;
}

#tip-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0.5rem;
}

#tip-grid .selected {
    background-color: #9FE8DF;
    color: var(--very-dark-cyan);
}

button:hover {
    cursor: pointer;
    background-color: #9FE8DF;
    color: var(--very-dark-cyan);
}

.percentage-button {
    background-color: var(--very-dark-cyan);
    color: var(--white);
    font-weight: 600;
    font-size: 1.4rem;
    border-radius: 5px;
    border-width: 0px;
    height: 3rem;
    width: 7rem;
}

#custom {
    height: 3rem;
    width: 7rem;
    font-size: 1.4rem;
}

#custom:focus {
    outline-color: var(--strong-cyan);
}

#results-container {
    background-color: var(--very-dark-cyan);
    width: 48%;
    border-radius: 20px;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.result-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.amount-label {
    color: var(--white);
    font-weight: 600;
}

.per-person-label {
    color: var(--dark-grayish-cyan);
    font-weight: 600;
}

.result-amount {
    color: var(--strong-cyan);
    font-size: 2.5rem;
    font-weight: 600;
}

#reset-button {
    background-color: var(--strong-cyan);
    border-width: 0;
    border-radius: 5px;
    height: 3rem;
    color: var(--very-dark-cyan);
    font-family: 'Space Mono', sans-serif;
    font-weight: 600;
    font-size: 1.3rem;
}

#reset-button:hover {
    color: var(--very-dark-cyan);
    background-color: #9FE8DF;
}
